.conteudo {
    padding: 20px;
}

.formulario,
#agenda {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 5px 5px #cccccc;
    margin-bottom: 10px;
}

.formulario {
    .grupo {
        margin-bottom: 30px;

        input {
            height: 35px;
            width: 20%;
            border: none;
            border-bottom: 3px solid $cor-secundaria;
            font-size: 120%;
            color: $cor-texto-input;
            box-sizing: border-box;
            padding: 10px 0px 10px 10px;

            &[type=date] {
                font-family: $fonte-principal;
                color: $cor-texto-input;

                &:invalid::-webkit-datetime-edit {
                    color: #aaaaaa;
                }
            }

            &::placeholder {
                color: #aaaaaa;
            }

            &:focus {
                outline: none;
                border-bottom: 4px solid $cor-secundaria;
            }
        }
    }

    input[type=submit] {
        background-color: $cor-principal;
        color: white;
        font-weight: bold;
        font-size: 110%;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        border: none;

        &:focus {
            outline: none;
        }
    }
}

#agenda {
    padding: 20px;
}

.contato {
    margin: auto;
    margin-bottom: 10px;
    display: table;
    width: 99%;
    border: 1px solid #bbbbbb;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #cccccc;
}

.inicial,
.dados {
    display: table-cell;
    vertical-align: middle;
}

.inicial {
    width: 60px;

    span {
        background-color: $cor-principal;
        color: white;
        padding: 15px 20px;
        border-radius: 50%;
        font-size: 120%;
    }
}

.dados {
    span {
        display: block;

        &:first-child {
            font-weight: bold;
        }

        &:last-child {
            font-size: 80%;
        }
    }
}