@media only screen and (max-width: 600px) {
    .banner {
        font-size: 80%;
    }

    .formulario {
        .grupo {
            input {
                width: 90%;
            }
        }
    }

    .contato {
        width: 90%;
    }
}